@media screen and (min-width: 768px) {
  .content :global(div.elementor-container.elementor-column-gap-default) {
    display: flex;
    align-items: center;
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .content
    :global(
      div.elementor-column.elementor-col-66.elementor-top-column.elementor-element
    ) {
    @apply ml-3;
  }
}

@media screen and (min-width: 768px) {
  .content :global(img) {
    float: left;
    width: 250px;
    height: 250px;
    object-fit: cover;
    max-width: none;
  }
}

@media screen and (min-width: 768px) {
  .content :global(div.elementor-widget-container) {
    margin-bottom: 1rem;
  }
}

@media screen and(max-width: 768px) {
  .content :global(div.elementor-container.elementor-column-gap-default) {
    width: 80%;
  }
}

/* .content :global(img) {
  @apply w-4/5;
} */

.content :global(a.elementor-button.elementor-size-sm) {
  background-color: #5cb85c;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.content :global(.btn) {
  @apply w-1/5;
  margin-left: 1rem;
}
.content {
  @apply text-lg leading-relaxed;
}

.content span,
.content ul,
.content ol,
.content blockquote {
  @apply my-6;
}

.content h2 {
  @apply text-2xl mb-4 leading-snug;
}

.content h2:hover {
  @apply underline;
  cursor: pointer;
}
